/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
}

.matrix-wrapper {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.matrix-wrapper__img {
  width: 100%;
}

.matrix-wrapper__info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .matrix-wrapper { 
    text-align: center;
  }
}

.main-wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
  padding: 1em 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.planner-section__task-row-wrapper {
  display: flex;
  padding-bottom: 1em;
}

/* reset default styles */
figure,
ul {
  margin: 0;
  padding: 0;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}
/* end reset */


.add,
.edit,
.delete {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}

.add:hover,
.edit:hover,
.delete:hover {
  color: #3a3a3a;
}

/* Heading */
.planner-section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
}

[type="text"]:focus {
  color: #333;
}

/* New Task */
[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

/* Task list */
.list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item > * {
  vertical-align: middle;
}

.list-item > [type="checkbox"] {
  margin: 0 10px;
}

.list-item > .input-lbl {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list-item > [type="text"] {
  width: 226px;
}

.delete-btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.planner-section__completed-tasks .input-lbl {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list-item [type="text"] {
  display: none;
}

.edit-mode [type="text"] {
  display: inline-block;
  width: 224px;
}

.edit-mode .input-lbl {
  display: none;
}